body,h1,h2 {
	font-family: arial, sans-serif;
}

/*body{
	margin-left:10%;
	margin-right: 10%;
	overflow: hidden;
}*/

/*
header {
	background-color: #7FFFD4;
	height: 5vh;
	padding-top: 2vh;
}*/

/*h1 {
	border-bottom: 1vh solid #7FFFD4;
}*/
h1#flux-titre {
	text-align: right;
}

/*nav {
	text-align:center;
}
nav a{
	 margin-left: 2vw;
	 margin-right: 2vw;
     color: black;
     text-decoration:none;
}

nav a:hover {
    text-decoration: underline;
}
*/
#description {
	padding-right: 2%;
	width: 68%;
	vertical-align: top;	
}

#flux {
	float: right;
	padding-left: 2%;
	width: 28%;
	text-align: right;
	vertical-align: top;	
	
}

#create-account {
	margin-right: 70%;
}


