body {
    margin: 0;
    font-size: 15px;
    width: 100%;
}


h1{
	border-bottom: 1vh solid green;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
}
p{
    text-align: justify;
}

a {
	text-decoration: none;
	color: inherit;
}

button, input, a {
	font-family: 'Verdana',sans-serif;
}

#content {
	margin-top: 50px;
	text-align: center;
	overflow: auto;
}

.headerNav {
	width: 100%;
	background-color: green;
	color: white;
	height: 50px;
}

.headerNav a {
	padding: 15px;
}

.headerNav a:hover {
	background-color: white;
	color: black;
}

.currentPage {
	font-weight: bold;
}

header {
	top: 0;
	position: fixed;
	width: 100%;
}

#connectBar {
    float: right;
    background-color: green;
	color: white;
	padding: 10px;

}

.header-button-left {
	float: left;
}

.header-button-right {
	float: right;
}

#userMail {
	float: right;
	padding: 15px;
	font-weight: bold;
}

footer {
	text-align: left;
}

/*CSS for the formulaire*/
.input-subscripe {
    width: 200px;
    
}

.input-group {
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.label-suscribe {
    padding: 1vh;
    display: inline-flex;
    border: none;
    width: 200px;
}

.alert {
    padding: 20px;
    background-color: #F44336;
    color: white;
    margin-bottom: 15px;
}

.confirm {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.footerNav { 
	position:fixed;
	width:100%;
	bottom:0; /* stick to bottom */
	background:green;
    color:white;
}



.footerNav a:hover {
	background-color: white;
	color: black;
}