body {
    margin: 0;
    font-size: 15px;
    width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

button, input, a {
	font-family: 'Verdana',sans-serif;
}

#corps {
	margin-top: 50px;
	text-align: center;
}

.headerNav {
	width: 100%;
	background-color: green;
	color: white;
	height: 40px;
}

.headerNav a {
	padding: 10px;
}

.headerNav a:hover {
	background-color: white;
	color: black;
}

.currentPage {
	font-weight: bold;
}

header {
	top: 0;
	position: fixed;
	width: 100%;
}

#connectBar {
    float: right;
    background-color: green;
	color: white;
	 padding: 10px;

}

.header-button-left {
	float: left;
}

.header-button-right {
	float: right;
}

footer {
	text-align: center;
}


/*CSS for the formulaire*/
.input-subscripe {
    width: 200px;
    
}

.input-group {
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.label-suscribe {
    padding: 1vh;
    display: inline-flex;
    border: none;
    width: 200px;
}