body {
    margin: 0;
    font-size: 15px;
    width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

button, input, a {
	font-family: 'Verdana',sans-serif;
}

#content {
	margin-top: 50px;
	text-align: center;
}

.headerNav {
	width: 100%;
	background-color: green;
	color: white;
	height: 50px;
}

.headerNav a {
	padding: 15px;
}

.headerNav a:hover {
	background-color: white;
	color: black;
}

.currentPage {
	font-weight: bold;
}

header {
	top: 0;
	position: fixed;
	width: 100%;
}

#connectBar {
    float: right;
    background-color: green;
	color: white;
	padding: 10px;

}

.header-button-left {
	float: left;
}

.header-button-right {
	float: right;
}

footer {
	text-align: center;
}

form {
 background-color:#FAFAFA;
 padding:10px;
 width:100%;
 }

input[type=submit], input[type=reset] {
	 width:100px;
	 margin-left:5px;
	 box-shadow:1px 1px 1px #D83F3D;
	 cursor:pointer;
 }